<a href="https://colab.research.google.com/github/Mehraj71/Python_notes/blob/main/Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python:-
Python is defined as most emerging, genral purpose high-level, Object oriented, Dynamically typed, Interpreted programming language.
1. General Purpose Programming language :- Apart from data management and AI development, Web development it is used for general purpose ex: ISRO scientist use it for physics calculations, It is used for image processing, stocks tracking.
2. High level :- It is a human friendly language, the code is not changing into binary form, We can read the code in python like a English language
ex: python, java,php
--> Low level programming language :- Machine friendly programming language, The codes are changing into binary form ex: c, c++
3. Dynamically Typed programinng language :- We do not have to mention the types of variables.
ex: x='Hello world'(Python)
--> Statistically typed language :- we need to define the variable ex: str[x]="Hello World". (Java)
4. Object Oriented programming language :- [Objects are the real world entities where as classes are the blue print of the object.]
5. Interpreted programming language :- Python executes the code line by line, It consider recent values as updated values.

Note:- Each line of code in python has its own identity, attributes and method of interactions.

IDE (Integrated development environment) - It is a software application that helps programmers write, build, and test code.
IDE's are defined as Code compiler, code executor, interpretors or result given.
Methods of interaction of IDE:
1. Google colab
2. Pycharm
3. Jupyter Notebook
4. VS

**Comments** -- It is used for better understanding
--> Single line comment is used by #
--> Multiline comment is used by """ """ or ''' '''

#Arithametic Operators:-
There are 7 types of arithametic operators
1. Addition: +
2. Subtraction: -
3. Multiplication: *
4. Division: /
5. Modulus: % (reminder of the division )
6. Exponential: ** (to the power of)
7. Floor division: // (It ignores the value of after the decimal point)
--> The value before the decimal point is known as floor value and the next upcoming value based on decimal numbers is known as ceil value.

***Note***:- if the decimal number is equal to >.5 or greater than .5 then it print ceil value

In [ ]:
#Addition:-
print(10+5)

15

In [ ]:
#Subtraction:-
print(5-4)

1

In [ ]:
#Multiplication:-
print(9*8)

72

In [ ]:
#Divison:- sometimes in division operation we may get decimal values in co-efficient to avoid this confusion by default the data type for division is float
print(10/5)

2.0

In [ ]:
#Modulus---> %---> remainder of the division
print(10 % 5)
print(type(10 % 5))

0
<class 'int'>

In [ ]:
#Exponential--> ** --> to the power off
print(2 ** 3)
print(type(2**3))
print(1**5)
print(3 ** 2)

8
<class 'int'>
1
9

In [ ]:
#floor division:----> //
#it ignores the values after the decimal point
print(10 / 3) """Division"""
print(10 // 3) """Floor Division"""

3.3333333333333335
3

# Data Types:-

1. None:- When the variable is not assigned with any valus is called none.

2. Numeric :- There are 4 categories of data types in this form. They are:-
--> Int -- Integer numbers, ex: num = 2

--> Float -- The numbers with decimal , ex: num = 5.5

--> Complex -- a number + imaginary number, ex: num = 6+9j

[Note: It should always be denoted by "j", No other character will be accepted as complex number. "j" is known as iota and the value of iota is underroot -1]

--> Bool -- making of choices as true and false.

In [ ]:
#Integer:- A whole number  either +ve or -ve without decimal point is known as integer.
print(10)
print(5)
print(-5)
#find the dtype for above
#use "type()"
print(type(10))
print(type(-5))

10
5
-5
<class 'int'>
<class 'int'>

In [ ]:
#Float:- A whole number either +ve or -ve with decimal point is known as float.
print(10.5)
print(5.5)
print(-6.5)
print(type(10.5))
print(type(-6.5))

10.5
5.5
-6.5
<class 'float'>
<class 'float'>

In [ ]:
print(type(-0.0))

<class 'float'>

In [ ]:
#Note:-
#0-->int
#0.0-->float
#2.0-->float
#.9--> float
#-0--->float

In [ ]:
print(type(5.5))

<class 'float'>

In [ ]:
 #Complex Numbers:- A real number with it's imaginary parts is known as Complex number.
 #3x+4y = 6        ---->  2 + 4j
#what is "j"?
# j is known as "iota" the value of iota is root -1
print(2 + 5j)
print(type(2+5j))
print(5j)
print(type(5j))

#Round ():-
 It is used to print the specific ndigit round off values.
 If the decimal point is greater than or equal to 0.5 you will be getting the upcoming value.

In [ ]:
print(round(7.556))

8

In [ ]:
print(round(986.45632,2))
print(round(7546.8986485,4))
print(round(46464.54556,-2))
print(round(12367.0236,-1))

986.46
7546.8986
46500.0
12370.0

#Variables:-
Variables are the containers that stores the information or data and reuse it.
ex: x=40

**Types of Errors**
There are two types of errors:-
1. Syntax Errors- Breaking the rules of programming language can raise a syntax errorr.
2.Logical Errors - All errors except syntax error are logical errors. (Indentation error, attribute error, Name error, type error etc)

**Industrial Rules followed to create a variable**
1. Start creating variables using alphabets.
2. Don't start creating the variables by using the number.
3. We cannot use the special chracter in variables.
4. We cannot use the space between the variables.
5. We can use '_' in between variables instead of space.
6. You can use the numbers in between the variables.

**Smart ways of wrriting a variable**
1. Assign multiple variables and print it in a separate line.
x=10
y=20
z=30
print(x)
print(y)
print(z)
Instead,
x,y,z=10,20,30
print(x,y,z)
and for seperate line print(x,y,z,sep="\n")

**Input()**
It takes any kind of data or information and reuse it
ex: a = input()
print (a)
[The default data type for input() is string]

Why the default datatype for the input is string?
- The function has to be in such a way it can accept any kind of information. So the strings are the default dtype for input.

**Concatenation**
Adding two strings or two input() without defining the data is known as concatination.

In [ ]:
#How can we access the information from the varaible?
#by using print() we can display data storing the varaible
#take two varaibles and apply all the arthamatic operations?
a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(b/a)
print(b%a)
print(b**a)
print(b//a)

30
-10
200
2.0
0
10240000000000
2

In [ ]:
#Input
a = input("enter the number")
b = input("enter the number")
print(a+b)
a = int(input("enter the number"))
b = int(input("enter the number"))
print(a+b)

enter the number5
enter the number6
56
enter the number6
enter the number7
13

In [ ]:
#concatenation:-
#adding 2 strings or 2 input() without defining the data isknown as concatenation
print("hello"+"team")

helloteam

In [ ]:
a = int(input("enetr the number: "))
b = int(input("enter the number: "))
print(a+b)
#Note:-  when we are dealing with integer or float mention the specific dtype infront input()

enetr the number: 25
enter the number: 24
49

In [ ]:
#take 2 decimal input() apply all the arthametic operations?
a = float(input("eneter the decimal: "))
b = float(input("enter decimal number: "))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

eneter the decimal: 5.5
enter decimal number: 4.5
10.0
1.0
24.75
1.2222222222222223
1.0

In [ ]:
#Smart ways of writing a variable:-
#1.assign multiple values to multiple varaibles and print it in a seprate line
#for ex:- take 3 varaibles x,y,z
x = 10
y = 20
z = 30
print(x)
print(y)
print(z)

10
20
30

In [ ]:
x,y,z = 10,20,30
#use the "sep" keyword to print output in separate lines
print(x,y,z,sep="\n")

10
20
30

In [ ]:
#assign a single value to the multiple varaibles and print in separate line
#take 3 varaibles x,y,z and assign same values to it
x = 10
y = 10
z = 10
print(x,y,z,sep="\n")

10
10
10

In [ ]:
x=y=z= 10
print(x,y,z,sep="\n")

10
10
10

#Strings:-
String is a collection of multiple characters written inside the quotes.
We can declare strings in " " or ' '
--> There are two types of strings:
1.  Single Line string: ' ' or " "
2.  Multiline string: """ """ double triple quotes or ''' ''' single triple quotes

--> String is a collection of multiple characters where each character can be accessible.

--> String is ordered which means characters in the string has sequence of index position numbers.

--> We can access the characters by using "indexing" and slicing operators - [].

In [ ]:
# print a single line string
print("hello world")

hello world

In [ ]:
#multiline string
print("""Hi
        Good Day!
        I am writing a multiline string""")

Hi
        Good Day!
        I am writing a multiline string

In [ ]:
a = "hello world"
#from the above string print 'd'
#[start_index_number]
#print (a[1])
#print 'r' from the above string
#print(a[8])
#print the "hello world" in separate line without using loops
print(a[-1])
print(a[0])
print(a[1])
print(a[9])
print(a[8])

d
h
e
l
r

In [ ]:
# To access a range of characters [start:end_index_number]
s = "hello world!"
print(s[2:7]) #end index can be n+1
#why the 7th charcter is not printed?
#because slicing can be stop  before the end index position number
print(s[2:8])
#from the above print the entire "hello"
print(s[0:5])

llo w
llo wo
hello

In [ ]:
print("hello\n" 'world')

hello
world

In [ ]:
a = """Data is a collection of facts, numbers, words, observations, or other useful information
that can be used for calculation, reasoning, or planning."""
#howmany character in above string
#use len() given total number characters in string
#length start from 1
print(len(a))
#find end index_number of the above string
print(len(a)-1)
print(a[146])

146
145

IndexError: string index out of range

#Negative Indexing:-

It is a format in which we can access the items in reverse direction.

--> Negative Indexing starts from -1.

--> We cannot print the range of characters in reverse direction.

--> By default silicing direction is from left to right. If we want to go in reverse direction then we have to mention -1.

In [ ]:
a =  "Hello Good Afternoon"
print(a[-1])

n

In [ ]:
print(a[-1:-6])# The range of directions cannot be printed in reverse direction.
print(a[-1:-7:-1])

noonre

In [ ]:
m = "hello"
#reverse the above string
print(m[-1:-6:-1])

olleh

In [ ]:
e = "madam"
print(e[-1:-6:-1])
print(e[:])
print(e[::])
print(e[::2])
print(e[::-1])

madam
madam
madam
mdm
madam

In [ ]:
st = 'Happy Christmas and Happy new year'

if st.startswith("Happy"):
    x = st.rsplit("Happy")  # Split by "Happy"

print(len(x))

3

#Revision:-

-- Indexing:- Positional number of characters.
-- String:- It is ordered sequence positional number of characters.
-- Leng():- Counts the number of characters in the string.
-- To print the even characters from the string [start(0):end:step(2)].
-- To print the odd characters from the string [start(1):end:step(2)].
-- Negative Indexing:- we can access the string in reverse direction. And it
                       start's from -1.
-- Default slicing direction:- Slicing can be done from left to right.

In [ ]:
s = "Hello world!"
print(s[-1:-7])
print(s[-7:-1])

 world

In [ ]:
#How can i print the string in reverse direction (or) how can i access the string by using negative indexing?
#if you want to access string in reverse direction we need to give step value as "-1"
print(s[-1:-13:-1])

!dlrow olleH

#Default Indexing:-

In [ ]:
#How can we make slicing very easy without giving the indexing?
h = "Data science is the scientific study of data to gain knowledge and make informed decisions"
print(h[:])
#default indexing[startposition[0]:end[len(str)]:step[1]]
print(h[::]) #value error: slice step cannot be zero
#print th even index characters from above string?
print(h[::2])
#odd charcters
print(h[1::2])

Data science is the scientific study of data to gain knowledge and make informed decisions
Data science is the scientific study of data to gain knowledge and make informed decisions
Dt cec stesinii td fdt ogi nweg n aeifre eiin
aasinei h cetfcsuyo aat ankoldeadmk nomddcsos

In [ ]:
a = "hello"
#reverse above string
print(a[::-1])

olleh

In [ ]:
#Palindrome:- For a number or string to be palindrome in python, The number or sting must be the same when inverted.
# 11, 414, 123321 are examples of palindrome numbers and mom, dad, madam are examples of palindrome strings in python.
#check whether the string is palindrome or not?
#madam,  malayalam, markram, mom, dad, hyderabad, karnatak,chennai
i = input("enter the name: ")
print(i[::-1])

enter the name: mom
mom

#String Methods:-
A set of built-in methods that can be used for data handling and manipulation on strings is known as string methods.

**Note** - By using "dir()" we can find out all the methods which are applicable on strings.

In [ ]:
#What are all the methods that can be applied on the below string.
a = "Hello World!"
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a', 'exit', 'get_ipython', 'h', 'i', 'quit']

In [ ]:
"""'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith',
 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum',
 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier',
  'islower','isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper',
   'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
    'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition',
'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip',
 'swapcase', 'title', 'translate', 'upper', 'zfill' """

In [ ]:
a = "hello world!"
#convert the above string into upper case letters.
#Convert the first letter into capital.
#Convert the first letter after every space into capital letter.
b = "GOOD DAY!"
#Convert the above string into lower case letters.
print(a.upper())
print(b.lower())
print(a.capitalize())
print(a.title())

HELLO WORLD!
good day!
Hello world!
Hello World!

In [ ]:
k = "   Love Nature    "
#delete unwanted spaace from string
print(k.strip())
#Remove the right side space
print(k.rstrip())
#Remove the left side space
print(k.lstrip())

Love Nature
   Love Nature
Love Nature

In [ ]:
z = "Hello World!"
#Replace 'World' with 'Universe' in the given string.
print(z.replace("World","Universe"))

Hello Universe!

In [ ]:
y = "Good Afternoon"
print(y.find('z'))
print(y.index('z'))
# Find and Index:-
# In "find" if the character is not present it prints -1.
#Where as in "Index" if the character is not present it raises 'value error'.

-1

ValueError: substring not found

#String Formatting Method:-
String Formatting is also known as "String Interpolation". It is a process of inserting a custom string or variable in predefined text.

In [ ]:
age = 24
txt = f"I am {age} years old."
print(txt)

I am 24 years old.

In [ ]:
item_name = input("enter the product name: ")
quantity = float(input("enter the quantity: "))
price_for_each = float(input("enter the price: "))
notification = f"Your order for {item_name} has been confirmed with a quantity of {quantity} and Total price {price_for_each*quantity}/-"
print(notification)

enter the product name: Biryani
enter the quantity: 10
enter the price: 350
Your order for Biryani has been confirmed with a quantity of 10.0 and Total price 3500.0/-

#Escape characters:-
In Python, Escape characters are used to reprresent certain characters that are difficult to type directly in the string. Escape characters use to print the illegal characters (" ") and (' ') or also enables you to insert characters like newlines, tabs, quotes, or even a backslash itself into a string by using backslash (\) in front of the characters.

In [ ]:
#Printing the below string with quotes.
x = "Dwayne \"The Rock\" Johonson"
print(x)

Dwayne "The Rock" Johonson

In [ ]:
w = "Hi Mehraj, Have a \"Good Day\"!"
print(w)

Hi Mehraj, Have a "Good Day"!

In [ ]:
v = 10
print(dir(v))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

#Conditional Statements:-

Conditional statements in python are used to control the flow of progamme based on conditions. Decision making programme can be done with the help of conditional statement.
The decision making or conditional check can be done based on "Compararision Operators".

**Comparision operators**:-
Operators where we can check certain conditions that are satisfied or not satisfied. It is also known as "Relational Operators". There are 6 types of Conditional or Relational operators, They are:

1. Equal to --->  ==
2. Not Equal to --->  !=
3. Greater Than --->  >
4. Less Than --->  <
5. Greater than Equal to --->  >=
6. Less Than Equal to --->  <=

**The types of conditional statements we have in Python are**:-

if, elif, else.

In [ ]:
#write a programme to check wether the students have passed or failed based on their marks and print their marks.
marks = int(input("emter the marks:  "))
passing = 45
if marks >= passing:
  print(f"congratulations, You have secured {marks}marks")
else:
  print(f"Better Luck Next Time, You have recieved {marks}marks")

emter the marks:  91
congratulations, You have secured 91marks

In [ ]:
#elif can be used if we are having more than two conditions.
#write a programme to check either the given number is +ve, -ve or neutral(if it is 0).
number = int(input("enter the number:  "))
if number > 0:
  print("+ve")
elif number == 0:
  print("neutral")
else:
  print("-ve")

enter the number:  -55
-ve

In [ ]:
#write a program to check whether the given string is palidrome or not , irrespective of letters
print(1 == 1)
print("a"=="A")
print(ord("C"))

True
False
67

In [ ]:
#mOm, malayalam
a = input("eneter the string: ")
b = a[::-1]
if a.lower() == b.lower():
  print("yes")
else:
  print("no")

eneter the string: Mom
yes

#Logical Operator:
Logical operaators, also known as "Boolean Operators" are:

 'and','or','not'

It helps to combine multiple conditions into a single Boolean expression.

In [ ]:
#1. and: operator executes programme when all the conditions are true.
a = 99
b = 80
c = 10
#write a programme to check a is greater than b and c, similarly c is less than b.
if a > b and a > c and c < b:
  print("All the conditions satisfied")
else:
  print("condition not satisfied")

All the conditions satisfied

In [ ]:
#2. or: operator executes the programme if any one condition is satisfied.
#check below if any condition is satisfied and than execute the programme.
a = 18
b = 45
#
x = 20
y = 40
z = 60
if x > a or x > 45 or y > a or y < b or z > a or z < b:
  print("condition satisfied")
else:
  print("none of the condition is satisfied")

condition satisfied

In [ ]:
a = 50
b = 20
c = 30
d = 60
if a < b or c > d or d < a:
  print("any one of the condition is satisfied")
else:
  print("none of the condition is satisfied")

none of the condition is satisfied

In [ ]:
#3. not operator: Reverse the actual output.
print(1==1)
print(not(1==1))

True
False

#Nested Condition:-
Writing condition inside the condition is known as nested condition, such as writing 'if' condition inside 'if' condition.

In [ ]:
#If you want to check a series or range of conditions to print series of outputs.
a = 25
if a > 10:
  print("a is greater than 10")
  if a > 20:
    print("a is greater than 20")
    if a > 30:
      print("a is greater than 30")
      if a > 40:
        print("a is greater than 40")
        if a > 50:
          print("a is greater than 50")
        else:
          print("a is less than 50")
      else:
        print("a is less than 40")
    else:
      print("a is less than 30")
  else:
    print("a is less than 20")
else:
  print("a is less than 10")

a is greater than 10
a is greater than 20
a is less than 30

In [ ]:
#Write a programme to print grades along with marks.
#if the student is getting
#40 to 50 ---> congratulation you have received "E" Grade along with ___marks
#51 to 60 ---> congratulation you have received "D" Grade along with ___marks
#61 to 70 ---> congratulation you have received "C" Grade along with ___marks
#71 to 80 ---> congratulation you have received "B" Grade along with ___marks
#81 to 90 ---> congratulation you have received "A" Grade along with ___marks
#91 to 100 ---> congratulation you have received "O" Grade along with ___marks
#If more than 100 marks ---> "Don't be smart"
#if less than 40marks print better luck next time you have recived __ marks.
#Use the nested if condition along with elif condition.

marks = float(input("enter the marks:  "))
if marks > 100:
  print("Don't be smart")
elif marks >= 91:
  print("congratulation you have received O Grade along with {marks} marks"),
elif marks >= 81:
    print("congratulation you have received A Grade along with {marks}marks"),
elif marks >= 71:
    print("congratulation you have received B Grade along with {marks}marks"),
elif marks >= 61:
    print("congratulation you have received C Grade along with {marks}marks"),
elif marks >= 51:
    print("congratulation you have received D Grade along with {marks}marks"),
elif marks >= 40:
    print("congratulation you have received E Grade along with {marks}marks"),
else:
     print("Better luck next time you have recived {marks} marks.")

enter the marks:  1000
Don't be smart

In [ ]:
#Note:-
#tw0 condition--> if & else
#more than 2 conditions----> if elif else
#multiple conditions at a time --> logical operators(and, or , not)
#if series of output = nested if condition

In [ ]:
a = 50
b = 20
c = 30
d = 60
if a>b or c > b or d < a:
  pass

#pass is a null place holder when you execute pass then nothing will happens

#Loops:-

Loops are set of instructions, which are used to avoid writing duplicate codes.
There are two types of codes:-

(i) WET codes:- writing everything twice
(ii) DRY codes:- don't repeat yourself

And there are two types of loops, They are:-

1. While Loop:-
2. For Loop:-

#While Loop:-
It is a set of instructions which runs until the condition remains true.

In [ ]:
target = 5
initial = 1
while initial <= 5:
  print("go up")
  print("go down")
  print("===rep completed===")
  initial = initial+1

go up
go down
===rep completed===
go up
go down
===rep completed===
go up
go down
===rep completed===
go up
go down
===rep completed===
go up
go down
===rep completed===

In [ ]:
#write a simple programme to run a lift if the user is giving 4th, stop the lift at 4th floor.
target = int(input("enter the floor: "))
initial = 1
while initial <= target:
  print(f"You have reached {initial}floor")
  initial = initial+1

enter the floor: 4
You have reached 1floor
You have reached 2floor
You have reached 3floor
You have reached 4floor

In [ ]:
target = int(input("enter the floor: "))
initial = 0
donotstop = int(input("enter floor number: "))
while initial < target:
  initial = initial+1
  #print(f"you have reached {initial} floor")
  if initial == donotstop:
    continue
  print(f"You have reached {initial}floor")

enter the floor: 6
enter floor number: 6
You have reached 1floor
You have reached 2floor
You have reached 3floor
You have reached 4floor
You have reached 5floor

In [ ]:
destination = 4
floorstart = 0
while floorstart < destination:
  floorstart = floorstart+1
  print(f"You have reached {floorstart} floor")

You have reached 1 floor
You have reached 2 floor
You have reached 3 floor
You have reached 4 floor

In [ ]:
a = [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
#To get multiples of 2 in 'a'
for i in a:
  print(i*2, end="@")

2@4@6@8@

In [ ]:
user = int(input("enter the floor number: "))
initial = 0
while initial < user:
  initial = initial+1
  print(f"you have reached: ",initial)

enter the floor number: 9
you have reached:  1
you have reached:  2
you have reached:  3
you have reached:  4
you have reached:  5
you have reached:  6
you have reached:  7
you have reached:  8
you have reached:  9

In [ ]:
#Note:-
#Break:- It terminates or stop the loop irrespective of data or items. Using break statement in while use logical or count after the break statement.
user = int(input("enter the floor number: "))
intial = 0
exit = int(input("enter the floor: "))
while intial < user:
  if intial == exit:
    break
  intial = intial+1
  print("you are at: ",intial)

enter the floor number: 6
enter the floor: 4
you are at:  1
you are at:  2
you are at:  3
you are at:  4

In [ ]:
#Similarly take an example if the user do not want to stop the lift at 2nd floor.
#Note:- Continue is used to skip the current iteration, While using 'Continue' keyword in the 'while loop', use logic before the continue.

In [ ]:
user = int(input("enter the floor: "))
intial = 0
dstop = int(input("enter the floor number: "))
while intial < user:
  intial = intial+1
  if intial == dstop:
    continue
  print("you are at floor: ", intial)

enter the floor: 6
enter the floor number: 2
you are at floor:  1
you are at floor:  3
you are at floor:  4
you are at floor:  5
you are at floor:  6

In [ ]:
target = 10
intial = 1
while intial <= target:
  print(intial, end= ",")
  intial = intial * 2

1,2,4,8,

#For Loop:-
Runs a set of rules or set of collection over each and every element of collection.

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
# print multiples of two from a.
for i in a:
   print(i*2,end=",")
   #Note: "i" is known as iterator and the process of going after each and every element is known as iteration.

2,4,6,8,10,12,14,16,18,

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13]
for i in a:
  if i == 10 or i == 11:
    break
  print(i,end=" ")
#Note: we cannot do multiple breaks.

1 2 3 4 5 6 7 8 9

In [ ]:
b = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for i in b:
  if i == 9 or i == 11 or i == 14:
    continue
  print(i,end=" ")
  #Note: We can skip multiple iterations by using or

1 2 3 4 5 6 7 8 10 12 13 15

#Collection:-
Collection in Python are basically container data types. In Collection the data can be stored in two types, They are:-

(i) Heterogeneous data: If the collection is having multiple dtypes like (int,float,string,...etc) it is known as heterogeneous data.
(ii) Homogeneous data: If the collection is having single dtype either int or float then it is known as homogeneous data.

**There are four types of Collections:**

1) List

2) Tuple

3) Set

4) Dictionary

#List:-
--> List is ordered (items in the list are having a sequence of index position number).

--> Mutable[Changeable(swap or replace the data in the list and add new items to the list - remove items from the list)].

--> Allows the duplicate.

--> A list can be declared by square brackets [] and can be separated by comma (,).

#List allows the duplictes

In [ ]:
l1 = ["apple","pineapple","watermelon","orange","apple","grapes"]
print(type(l1))
print(len(l1))
print(l1)

<class 'list'>
6
['apple', 'pineapple', 'watermelon', 'orange', 'apple', 'grapes']

#List is ordered

In [ ]:
#From the above list print "pineapple"
print(l1[1])

pineapple

In [ ]:
#print the range of item from 'apple to orange'
print(l1[0:4])

#Note:- Slicing will be stopped before one step exact from the end index position number.

['apple', 'pineapple', 'watermelon', 'orange']

In [ ]:
#Print the even positional items from the above list l1
print(l1[0:6:2])
#or
print(l1[::2])
#reverse the entire list
print(l1[::-1])

['apple', 'watermelon', 'apple']
['apple', 'watermelon', 'apple']
['grapes', 'apple', 'orange', 'watermelon', 'pineapple', 'apple']

#List is mutable

In [ ]:
#We can swap or replace the data in list by using the index position number
#Replace 2nd apple with chiku in the list l1
l1[4]="chiku"
print(l1)

['apple', 'pineapple', 'watermelon', 'orange', 'chiku', 'grapes']

In [ ]:
l1[4:] = "kiwi","dragon fruit"
l1

['apple', 'pineapple', 'watermelon', 'orange', 'kiwi', 'dragon fruit']

In [ ]:
l1[2:4] = "cranberry", "mango", "chiku"
l1

['apple', 'pineapple', 'cranberry', 'mango', 'chiku', 'kiwi', 'dragon fruit']

In [ ]:
l2 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemon']
l2[2:4] = "lemon","watermelon","mango","muskmelon"
l2

['apple',
 'banana',
 'lemon',
 'watermelon',
 'mango',
 'muskmelon',
 'grapes',
 'lemon']

In [ ]:
l3 = ['a', 'b', 'c', 'd']
l3[1:3] = "e","f","g"
l3

['a', 'e', 'f', 'g', 'd']

In [ ]:
a4 = ['apple', 'banana', 'orange', 'mango', 'chiku']
a4[2:4] = "watermelon","pineapple","strawberry"
a4

['apple', 'banana', 'watermelon', 'pineapple', 'strawberry', 'chiku']

**Note**: we can change the range of items in the list.  
l[start_index:end_index] but this is a bad practice
if we give more than the index range items it changes or replace the items with
existing index items so the index positions of characters can be changed

#Addding New Items to the list

In [ ]:
l5 = ["apple", "orange", "pineapple", "chiku", "watermelon"]
print(dir(l5)) #used to return method that are applicable on the object.

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
"""'append', 'clear', 'copy', 'count', 'extend', 'index',
'insert', 'pop', 'remove', 'reverse', 'sort' """

In [ ]:
l5 = ["apple", "orange", "pineapple", "chiku", "watermelon"]
#append: By default it adds the items at the end or last of the list
#add mango in the list l5
l5.append("mango")
print(l5)
#Note: We cannnot add more than one item in the list by using append.

['apple', 'orange', 'pineapple', 'chiku', 'watermelon', 'mango']

In [ ]:
#How to add an item at a particular index position?
#insert(index,"item_name")
#add "kiwi" at 2nd index position number
l5.insert(2,"kiwi")
print(l5)
#note: we cannot insert multiple items at a time because insert takes only two arguments.

['apple', 'orange', 'kiwi', 'kiwi', 'kiwi', 'pineapple', 'chiku', 'watermelon', 'mango']

In [ ]:
#extend(collection name):- add multiple items to the list
#By default extend method adds items at the end of the list
l6 = ["biryani", "haleem", "1","2","3","a"]
l5.extend(l6)
l5

['apple',
 'orange',
 'kiwi',
 'kiwi',
 'kiwi',
 'pineapple',
 'chiku',
 'watermelon',
 'mango',
 'biryani',
 'haleem',
 '1',
 '2',
 '3',
 'a',
 'biryani',
 'haleem',
 '1',
 '2',
 '3',
 'a',
 'biryani',
 'haleem',
 '1',
 '2',
 '3',
 'a']

In [ ]:
l5[0] = "banana"
print(l5)

['banana', 'orange', 'kiwi', 'kiwi', 'kiwi', 'pineapple', 'chiku', 'watermelon', 'mango', 'biryani', 'haleem', '1', '2', '3', 'a', 'biryani', 'haleem', '1', '2', '3', 'a', 'biryani', 'haleem', '1', '2', '3', 'a']

#Remove items from the list

In [ ]:
l7 = ['berries', 'kiwi', 'apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango']
#pop(index_position_number): by default it removes last item from the list.
l7.pop()
print(l7)

['berries', 'kiwi', 'apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon']

In [ ]:
l7.pop(0)
l7

['kiwi',
 'apple',
 'banana',
 'watermelon',
 'pineapple',
 'orange',
 'grapes',
 'lemmon']

In [ ]:
#To remove multiple items from the list
#use del collection_name[startindex:endindex]
del l7[1:4]
print(l7)
#to delete even positional items [::2]
#to delete odd positional items [1::2]

['kiwi', 'pineapple', 'orange', 'grapes', 'lemmon']

In [ ]:
l8 = ['kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes']
del l8[1::2]
print(l8)

['kiwi', 'banana', 'orange']

In [ ]:
#To clear entire data from the list
l8.clear()
l8

[]

In [ ]:
l9 = ["a","ab","abc","abcd"]
print (l9)

['a', 'ab', 'abc', 'abcd']

#Tuples:-
Tuple can be declared by () and each item is separated by ,

-->Tuple is defined as ordered, immutable(unchangeable), allows the duplicate, it is a collection of elements enclosed in parantheses and used to store multiple items.

#Tuple allows the duplicate

In [ ]:
t1 = ('kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes','kiwi','apple')
print(len(t1))
print(type(t1))

8
<class 'tuple'>

#Tuple is Ordered

In [ ]:
#Each position in Tuple is having index position number
print(t1[2])
print(t1[-1])
#print only banana,pineapple,orange,grapes
print(t1[2:6])
#only even positional items
print(t1[::2])
#print only odd postional items
print(t1[1::2])
#reverse t1
print(t1[::-1])

banana
apple
('banana', 'pineapple', 'orange', 'grapes')
('kiwi', 'banana', 'orange', 'kiwi')
('apple', 'pineapple', 'grapes', 'apple')
('apple', 'kiwi', 'grapes', 'orange', 'pineapple', 'banana', 'apple', 'kiwi')

#Tuple is Immutable

In [ ]:
#we cannot remove, add or replace the items in tuple
print(dir(t1))
#count, Index

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

#Sets:
Set is declared by {} and each item in the set is separated by comma(,). Set is unordered, immutable and does not allow the duplicate.



2.  ex:- s3 = {2,3,4,5,6,7,8,9,1}
-->s3.add(10)
-->print(s3)
^^^ Add multiple items in the set- it can be added by using "update"
ex:- s5 = {'banana', ' kiwi','apple'}
s6 = {1,2,3,4,5}
--> s.5update(s6)
-->print(s5)
3.

** To delete the entire set -- And we cannot delete the range of uitems from the sets.
del" set name"
print(setname)

#Set won't allow duplicate:
In sets we cannot replace or swap the items. We cannnot replace the items in the set because sets are unordered as the items in the sets doesn't have index position number.

In [ ]:
s1 = {1,2,3,4,5,6,7,1,2,3,4,5,9}
#what is length of s1
print(len(s1))
print(type(s1))
print(s1)

8
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 9}

#Set is unordered:

In [ ]:
s2={'apple',"bananan","kiwi"}
print(s2[0]) #'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

#It is Immutable:
--> In set we cannot replace or swap the items.

--> But we can add the new items or data to the sets. --- to check methods "print(dir(setname))". # add method : add() in sets if we add the data it doesn't have any index position and it can be stored anywhere in the set.

--> And we can remove the elements from the sets. --- there are two types of method -- "remove method" and "discard method".

 1) Remove method - if the item or data is present it removes the item, If the item is not present it raises an error.

2) Discard - If the items are present or not it wont raise an error and if the item is present it removes the item.

In [ ]:
#We cannot replace or swap items in set
s2 ={"python","java","c++","c","c","c"}
print(len(s2))
s2[4] = 'R'
print(s2)

4

TypeError: 'set' object does not support item assignment

In [ ]:
#To add new items or data to set
print(dir(s2))
"""'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection',
'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove',
'symmetric_difference', 'symmetric_difference_update', 'union', 'update' """

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

"'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection',\n'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove',\n'symmetric_difference', 'symmetric_difference_update', 'union', 'update' "

In [ ]:
#add() in sets if we add data it doesnot have any indexposition and it can store any where in the set
s3 = {2,3,4,5,6,1,9,8,7}
s3.add(10)
print(s3)
#can we add a string into set of numbers-->yes
s3.add('hello')
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello'}

In [ ]:
s4= {"apple","banana","kiwi"}
s4.add('Cherries')
print(s4)

{'kiwi', 'apple', 'Cherries', 'banana'}

In [ ]:
#How to add multiple items in set and what will be their index positioning?
#There won't be any index positioning because the set is unordered.
#by using "update" we can add multiple items.
s5 ={'banana', 'kiwi', 'apple', 'Cherries'}
s6 = {1,2,3,4,5,6}
s5.update(s6)
print(s5)

{1, 'apple', 2, 3, 4, 5, 6, 'Cherries', 'kiwi', 'banana'}

In [ ]:
#To remove items from the set
s7 = {'banana', 1, 2, 3, 4, 5, 6, 'kiwi', 'apple', 'Cherries'}
#i want to remove "4" from above set
print(s7.pop()) #pop() is a bad practice

1

In [ ]:
#Instead use:
#remove(item_name)
"""or"""
#discard(item_name)
s7.remove('kiwi')
print(s7)
s7.discard('apple')
print(s7)

NameError: name 's7' is not defined

#Difference between remove and discard:
--> Remove if the item or data is present it removes the item if not it raises error.  

--> Discard if the item is present or not it does not raises error.

In [ ]:
s8 = {"one", "2", "three", "4", "a"}
print(s8)

{'one', 'three', '4', 'a', '2'}

In [ ]:
#We ccannot delete range of items from the set.
#But we can delete the entire set.
del s8
print(s8)

NameError: name 's8' is not defined

In [ ]:
s1 = {"a","b","c","d"}
s2 = {"d","e","f","g"}
s1.intersection(s2)

{'d'}

In [ ]:
s1.union(s2)

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

#Dictionary(Mapping):-
- What is dictionary and how can you define it?
  
  Dictionary is a mutable, unordered collection of key value pairs

- How can we access the values from dictionary --> By using unique key name
- We cannot access the range of keys.
1. Replace the items in dictionary
setname('keyname') = 'new data'
2. add the new items to the dictionary
setname('new keyname') = "new data"
3. Remove the items from set
pop and clear method.
-->setname.pop(keyname)
-->setname.clear(keyname)

#Dictionary won't allows the duplicate

In [ ]:
d1 = {
    "name":"Mehraj",
    "age": 24,
    "phone_num": 700000000001,
    "education":"Graduation"
}
print(type(d1))
print(len(d1))
print(d1)

<class 'dict'>
4
{'name': 'Mehraj', 'age': 24, 'phone_num': 700000000001, 'education': 'Graduation'}

#Dictionary is unordered

In [ ]:
d1 = {
    "name":"Mehraj",
    "age": 24,
    "phone_num": 700000000001,
    "education":"Graduation"
}
print(d1[1]) #Key error

KeyError: 1

In [ ]:
#We can access the values from dictionary by using key names, but we cannot acces the key range.
print(d1["education"])

Graduation

#Dictionary is mutable

In [ ]:
#1. Replace the name in dictionary
d1["name"]= "Mohammed"
print(d1)

{'name': 'Mohammed', 'age': 24, 'phone_num': 700000000001, 'education': 'Graduation'}

In [ ]:
#2. Add new items to the dictionary
d1["address"] = "Hyderabad"
d1

{'name': 'Mohammed',
 'age': 24,
 'phone_num': 700000000001,
 'education': 'Graduation',
 'address': 'Hyderabad'}

In [ ]:
#3. To remove the items from dictionary
print(dir(d1))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
#(i) pop(key_name)
d1.pop("age")
d1

{'name': 'Mohammed',
 'phone_num': 700000000001,
 'education': 'Graduation',
 'address': 'Hyderabad'}

In [ ]:
#(ii) clear()
d1.clear()
d1

{}

In [ ]:
#(iii) delete
del d1
d1

NameError: name 'd1' is not defined

In [ ]:
d2 = {
    'name': 'Mohammed',
    'age': 24,
    'phone_num': 700000000001,
    'education': 'Graduation',
    'address': 'Hyderabad'
 }

#From the above dictionary print only the keys
print(d2.keys())
print(d2.values())
print(d2.items())

dict_keys(['name', 'age', 'phone_num', 'education', 'address'])
dict_values(['Mohammed', 24, 700000000001, 'Graduation', 'Hyderabad'])
dict_items([('name', 'Mohammed'), ('age', 24), ('phone_num', 700000000001), ('education', 'Graduation'), ('address', 'Hyderabad')])

In [ ]:
d2["fruits"] = ["mango", "kiwi", "sapodilla]"]
d2

{'name': 'Mohammed',
 'age': 24,
 'phone_num': 700000000001,
 'education': 'Graduation',
 'address': 'Hyderabad',
 'fruits': ['mango', 'kiwi', 'sapodilla]']}

In [ ]:
#Replace sapodilla with chiku
d2["fruits"][2] = "chiku"
d2

{'name': 'Mohammed',
 'age': 24,
 'phone_num': 700000000001,
 'education': 'Graduation',
 'address': 'Hyderabad',
 'fruits': ['mango', 'kiwi', 'chiku']}

In [ ]:
#Remove "kiwi"
d2["fruits"].remove("kiwi")
d2

{'name': 'Mohammed',
 'age': 24,
 'phone_num': 700000000001,
 'education': 'Graduation',
 'address': 'Hyderabad',
 'fruits': ['mango', 'chiku']}

In [ ]:
d2["fruits"].pop(0)
d2

{'name': 'Mohammed',
 'age': 24,
 'phone_num': 700000000001,
 'education': 'Graduation',
 'address': 'Hyderabad',
 'fruits': []}

In [ ]:
d2.clear()
d2

{}

In [ ]:
del d2
d2

In [ ]:
#Remove the last item from dictionary
d3 = {
    'name': 'Mohammed',
    'age': 24,
    'phone_num': 700000000001,
    'education': 'Graduation',
    'address': 'Hyderabad',
    'fruits': ['mango', 'kiwi', 'chiku']
}
d3.popitem()
d3

{'name': 'Mohammed',
 'age': 24,
 'phone_num': 700000000001,
 'education': 'Graduation',
 'address': 'Hyderabad'}

#Recall

In [ ]:
"""list:- is a ordered, muttable, allows the duplicates-->[]
                  adding methods:- append, insert(index, itemname),extend
                  remove method :- pop(),remove, del l[:],clear
   tuple:- is  ordered, immutable, allows the duplicates-->()
   set :-->  is unordered, immutable, doesn't allow duplicates---> {}
                           adding method:- add, update
                           remove methods:- remove,discard,pop(bad practice),clear
   dictionary--> unordered, mutable, it wont allow the duplicates
              -->  key:value pairs
              -->  replace by using specific key name we can replace the items in the dictionary
              -->  adding items if you give new key name d1['new_key] = "value"
              -->  remove method:- pop(key_name), clear,popitem()"""

# Recall of (List, Tuple, Sets, Dictionary):
1) List :- It is ordered, mutable, allows the duplictaes

--> adding method -- append, insert(index, item name), extend.

--> remove method -- pop(), remopve, del 1[:], clear.

2) Tuple:- Is orderef , immutable, allows the duplicate.

3) Set:- is unordered, immutable, doesn't allow duplicates.

--> adding methods -- add, update.

--> Remove methods -- remove, discard, pop (bad practice), clear.

4) Dictionary:- Unordered, mutable, it won't allow duplicates.

--> Key value pairs

--> we can replace item by using specific key name

--> adding items if we give new key name d1

#Functions:-
Function is a reusable block of code which can be used when you call it. The use of functio is to avoid duplicate codes.

--> We can create a function by using "def" which means you are defining a function.

In [ ]:
def f1():
  print("Hello I'm writimg a function to test it")
f1()

Hello I'm writimg a function to test it

In [ ]:
a = ("Hello World!")
a
print(a.replace("World","Universe"))

Hello Universe!

In [ ]:
def MD(name,age,education):
  print(f'Hi {name}, please check your details, age {age}, education {education}')

MD("Mehraj", 24, "Graduation")

Hi Mehraj, please check your details, age 24, education Graduation

**Parameter**:When we are definig a fuction we are creating variables which are known as parameters.  
**Arguments**: The values which are passed while calling a function are known as arguments.

**Note**: When we are calling a function the No. of parameters == No. of arguments. (If there is a mismaatch error will occur).

In [ ]:
def check_num(num):
  if num%2 == 0:
    print(f'given number {num} is even')
  else:
    print(f'given number {num} is odd')
a = int(input("enter the number: "))
check_num(a)

enter the number: 98
given number 98 is even

In [ ]:
#Check the given number is +ve,-ve or neutral
def pos_neg_neu(num = 0):
  if num>0:
    print("+ve")
  elif num == 0:
    print("-ve")
  else:
    print("-ve")
a = int(input("enter the given number: "))
pos_neg_neu(a)

enter the given number: -100
-ve

In [1]:
#Default Function:
def f1(x="No argument given"):
  print(x)
f1()
"""When we define a function we create variables which are known as parameters,
From these parameters when we assign a value and call a function without giving argument so it executes the function with the default value we have given. """

No argument given

'When we define a function we create variables which are known as parameters, \nFrom these parameters when we assign a value and call a function without giving argument so it executes the function with the default value we have given. '

In [2]:
def details(**name):
  print(name)

details(name="Company", Type = "pvt ltd", work = 'Data Analyst',place= 'Hyderabad')

{'name': 'Company', 'Type': 'pvt ltd', 'work': 'Data Analyst', 'place': 'Hyderabad'}

# KWARGS -- (Key Arbitrary Arguments)
--> When we don't know how many parameters we have to pass then we use KWARGS

--> We can set the type of data which we are passing because by default the data is stored in the form of 'Dictionary'.

#ARGS -- (Arbitrary Aguments)
--> When we don't know what type of data we need to pass we use ARGS.

--> Default data type for ARGS is 'Tuple'.


# Return
--> It returns or send back the values to the caller.

--> It is similar to the print statement.

--> When you are using the return we need to call the function with print().

In [1]:
def f1():
  return "hello"
print(f1())

hello

In [3]:
#Write python function to sum all the number in the list
list = [10,20,30,40,50]
sum = 0
for i in list:
  sum = sum+i
print(sum)

150

In [7]:
def sum_items(numbers):
  sum = 0
  for i in list:
    sum = sum + i
  return(sum)
  print(sum_items(1,9,11,99,111,999))

In [8]:
#write a python function that takes a list and returns a distinct values in new list
l1 =[1,2,3,3,4,5,6,1,2,3,4,9]
x = []
for i in l1:
  if i not in x:
    x.append(i)
print(x)
print(set(l1))

[1, 2, 3, 4, 5, 6, 9]
{1, 2, 3, 4, 5, 6, 9}

In [9]:
def distinct(*l1):
  x = []
  for i in l1:
    if i not in x:
      x.append(i)
  return x
print(distinct(98,97,96,95,94,94,93,93,97))

[98, 97, 96, 95, 94, 93]

In [10]:
def distinct(*l1):
  x = []
  for i in l1:
    if i not in x:
      x.append(i)
  print(x)
distinct(98,97,96,95,94,94,93,93,97)

[98, 97, 96, 95, 94, 93]

In [11]:
def distinct(*l1):
  x = []
  for i in l1:
    if i not in x:
      x.append(i)
    print(x)
distinct(55,65,66,64,65,97,55,87)

[55]
[55, 65]
[55, 65, 66]
[55, 65, 66, 64]
[55, 65, 66, 64]
[55, 65, 66, 64, 97]
[55, 65, 66, 64, 97]
[55, 65, 66, 64, 97, 87]

In [12]:
num = int(input("enter the number: "))
if num%2==0:
    print(f'given number {num} is even')
else:
    print(f'given number {num} is odd')

enter the number: 67989
given number 67989 is odd